body 
{
	background-color:#000000; 
	color: rgb(177, 173, 173);
    font-size: 28px;
    text-align: center;
}

.form-inline
{
    width: 900px;
	margin-left:auto;
    margin-right:auto;
    background-color:#1f4044;

}

.card
{
	width: 900px;
	margin-left:auto;
    margin-right:auto;
    background-color:#1f4044;
  
}

#id_p
{
    text-align: left;

}

.card-text
{
    text-align: left;
}

